<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Updater product virker ikke men tester lige build trigger på 5 min interval om den fanger ændringer</title>
</head>

<body>

<!--<div th:insert="/template"> </div>-->
<div>
    <br>
    <h1>bekræft ændringer i product</h1>
    <br>
    <form action="#" th:action="@{/Update}" th:object="${Updateproducts}" method="POST">
<!--        <div>-->
<!--            <input type="text" th:field="*{getId()}">-->
<!--        </div>-->

        <div>
            <label>Navn</label>
          <input type="text" th:field="*{name}">
      </div>

        <div>
            <label>Pris</label>
            <input type="text" th:field="*{price}">
        </div>

        <div>
            <label>Beskrivelse</label>
            <input type="text" th:field="*{beskrivelse}">
        </div>
        <button type="submit">Opdater </button>

    </form>

</div>


</body>
</html>